@import "./../../globalStyles/variables.css";

.BigButton {
  display: inline-flex;
  align-items: center;
  padding: 0px var(--spacing-small);
  font-weight: 700;
  border: 5px solid var(--primary-8);
  border-radius: 1px;
  height: var(--spacing-bigger);
  font-family: var(--mont);
  color: var(--primary-8);
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  background-color: var(--neutral-paper);
  cursor: pointer;
}
