@import "./../../../globalStyles/variables.css";

.PizzaShowcase {
    display: flex;
    flex-direction: row;
    background-color: var(--neutral-paper);
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.PizzaShowcase__title {
    font-family: var(--mont);
    font-size: var(--extra-large-font);
    color: var(--primary-6);
    text-align: center;
    margin: 0;
    padding-bottom: var(--spacing-small);
    text-transform: uppercase;
}
.PizzaShowcase__pizzaImg {
    width: 100%;
}
.PizzaShowcase__pizzaText {
    font-family: var(--quicksand);
    font-size: var(--small-font);
    color: var(--neutral-2);
    max-width: 295px;
    margin: 0;
    padding: var(--spacing-small) 0px;
}
.PizzaShowcase__pizzaPrice {
    font-weight: 600;
    font-size: var(--extra-large-font);
    color: var(--neutral-2);
    width: 100%;
    text-align: end;
    padding: 0px var(--spacing-edge);
    font-family: var(--barlow);
}
.PizzaShowcase__buttonWrap {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0px var(--spacing-edge);
}