@import "./../../globalStyles/variables.scss";

.MenuItem {
    display: flex;
    flex-wrap: wrap;
    padding-top: $spacingSmall;

    &__itemTitle {
        font-family: $mont;
        font-size: $largeFont;
        color: $primary8;
        padding-left: $spacingExtraSmall;
        padding-bottom: $spacingExtraSmall;
    }
    &__priceWrapper {
        width: 100%;
        padding-left: $spacingMedium;
    }
    &__itemPrice {
        font-family: $barlow;
        font-size: $largeFont;
        color: $neutral2;
        font-weight: 600;
    }
    &__crossIcon {
        cursor: pointer;
    }
}