@import "./../../globalStyles/variables.css";

.RadioComp {
    display: inline-flex;
    cursor: pointer;
    padding-top: var(--spacing-bigger);
    padding-bottom: var(--spacing-bigger);
}
.RadioComp__label {
    font-family: var(--barlow);
    text-transform: uppercase;
    font-size: var(--large-font);
    font-weight: 600;
    color: var(--neutra-l2);
}
.RadioComp__radioIcon {
    display: flex;
    align-items: center;
    padding-left: var(--spacing-extra-small);
}
