@import "./../../globalStyles/normalise.css";

.LandingPage {
    max-width: 375px;
    height: 100%;
    background-color: var(--neutral-Paper);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.MainHeader {
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-medium);
}
.PizzaShowcase {
    padding-top: var(--spacing-medium);
}