@import "./../../../globalStyles/variables.css";

.BigNumber {
    display: inline-flex;
    align-items: center;
    width: 133px;
    height: 133px;
    background: var(--primary-8);
    border-radius: 50%;
    justify-content: center;
    font-family: var(--barlow);
    font-weight: 700;
    font-size: 110px;
    color: var(--neutral-Paper);
    padding-bottom: 10px;
}
