@import "./../../../globalStyles/variables.css";

.ThisOrThatRadio {
    display: flex;
    justify-content: space-around;
}
.ThisOrThatRadio__or {
    font-family: var(--barlow);
    text-transform: uppercase;
    font-weight: 700;
    color: var(--neutral-2);
    display: flex;
    align-items: center;
    padding-left: var(--spacing-small);
    padding-right: var(--spacing-small);
}
