@import "./../../../globalStyles/variables.css";

.PaymentForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.PaymentForm__Middle {
    display: flex;
}
.PaymentForm__mmyy {
    width: 100%;
    padding-right: var(--spacing-small);
}
.PaymentForm__cvc {
    width: 100%;
    padding-left: var(--spacing-small);
}
