@import "./../../globalStyles/variables.scss";

.CheckoutHeader {
    width: 100%;

    &__container {
        display: flex;
        align-items: center;
        padding-left: $spacingEdge;
        padding-right: $spacingEdge;
        justify-content: flex-end;

    }
    &__bottomBorder {
        height: 1px;
        width: 295px;
        background-color: $primary10;
        margin: auto;
        margin-top: $spacingSmall;
    }
    &__diningBorder {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid $primary6;
        border-radius: 50%;
        height: 40px;
        width: 40px;
    }
    &__deliveryDining {
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary6;
        border-radius: 50%;
        height: 40px;
        width: 40px;
    }
    &__pizzaCounter {
        font-family: $barlow;
        font-weight: 500;
        color: $primary6;
        font-size: 20px;
        padding-right: 5px;
    }
    &__totalPrice {
        font-family: $barlow;
        font-weight: 500;
        color: $primary6;
        font-size: 20px;
        padding-left: 10px;
        padding-right: 12px;
    }
}