.PizzaShowcase {
    display: flex;
    flex-direction: row;
    background-color: --neutral-paper;
    justify-content: center;
    flex-wrap: wrap;
}
.PizzaShowcase__title {
    font-family: --mont;
    font-size: --extra-large-font;
    color: --primary-6;
    text-align: center;
    margin: 0;
    padding-bottom: --spacing-small;
}
.PizzaShowcase__pizzaImg {
    width: 100%;
}
.PizzaShowcase__pizzaText {
    font-family: --quicksand;
    font-size: --small-font;
    color: --neutra-l4;
    max-width: 295px;
    margin: 0;
    padding: --spacing-small 0px;
}
.PizzaShowcase__pizzaPrice {
    font-weight: 600;
    font-size: --extra-large-font;
    color: --neutral2;
    width: 100%;
    text-align: end;
    padding: 0px --spacing-edge;
    font-family: -barlow;
}
.PizzaShowcase__buttonWrap {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0px --spacing-edge;
}