@import "./../../../globalStyles/variables.css";

.formTitle {
    text-transform: uppercase;
    font-family: var(--barlow);
    font-size: 20px;
    font-weight: 600;
    /* padding-left: var(--spacing-edge); */
    padding-top: var(--spacing-small);
    color: var(--neutral-Ink);
}