@import "./../../../globalStyles/variables.css";

.formTitle {
    display: flex;
    font-family: var(--barlow);
    font-size: var(--extra-large-font);
    color: var(--neutral-l2);
    text-transform: uppercase;
    padding: 0px var(--spacing-edge);
    font-weight: 500;
    width: 100%;
}