@import "./../../globalStyles/variables.scss";

.MainHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__bottomBorder {
        height: 1px;
        width: 295px;
        background-color: $primary10;
        margin: auto;
        margin-top: $spacingSmall;
    }

    &__logo {
        display:flex;
        align-items: center;
        justify-content: center;
        height: 120px;
        width: 120px;
        background-color: $primary8;
        border-radius: 50%;
    }
}