@import "./../../../globalStyles/variables.css";

.LogoGreeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LogoGreeting__bottomBorder {
    height: 1px;
    width: 100%;
    background-color: var(--primary-10);
    margin: auto;
    margin-top: var(--spacing-small);
}

.LogoGreeting__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 120px;
    background-color: var(--primary-8);
    border-radius: 50%;
}
