@import "./../../../globalStyles/variables.css";

.PaymentBarAndCurtainContainer {
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: flex-start;
    width: 100%;
    box-shadow: 1px 2px 5px 0px rgba(89,89,89,0.5);
    background-color: var(--neutral-Paper);
    transition: all 700ms;
    cursor: pointer;
    overflow: scroll;
    padding-bottom: var(--spacing-medium);
}

.PaymentBarAndCurtainContainer__open {
    height: 100vh;
}

.PaymentBarAndCurtainContainer__closed {
    height: 70px;
}

.PaymentBarAndCurtainContainer__wrap {
    min-width: 375px;
    display: grid;
    grid-template-columns: 100%;
    /* grid-row-gap: var(--spacing-small); */
}

.PaymentBarAndCurtainContainer__topBarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-small) var(--spacing-edge); 
    height: 70px;
}

.PaymentBarAndCurtainContainer__payButton {
    cursor: pointer;
    margin-right: auto;
    display: flex;
    align-items: left;
    justify-content: left;
    height: 40px;
    width: 40px;
}

.PaymentBarAndCurtainContainer__pizzaCounter {
    font-family: var(--barlow);
    font-weight: 500;
    color: var(--primary-6);
    font-size: 20px;
    padding-right: 5px;
}

.PaymentBarAndCurtainContainer__totalPrice {
    font-family: var(--barlow);
    font-weight: 500;
    color: var(--primary-6);
    font-size: 20px;
    padding-left: 10px;
    padding-right: 12px;
}

.PaymentBarAndCurtainContainer__bottomBorder {
    height: 1px;
    width: 100%;
    background-color: grey;
    margin: auto;
    margin-top: var(--spacing-small);
}

.PaymentBarAndCurtainContainer__diningBorder {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--primary-6);
    border-radius: 50%;
    height: 40px;
    width: 40px;
}