.BigButton {
  display: inline-flex;
  align-items: center;
  padding: 0px --spacing-small;
  font-weight: 700;
  border: 5px solid --primary-8;
  border-radius: 1px;
  height: --spacing-bigger;
  font-family: --mont;
  color: --primary-8;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  background-color: --neutral-paper;
  cursor: pointer;
}
