@import "./../../../globalStyles/variables.css";

.WeAreOpen {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: var(--spacing-small);
}
.WeAreOpen__openText {
    font-family: var(--mont);
    font-size: var(--extra-large-font);
    color: var(--primary-6);
    text-transform: uppercase;
}
.WeAreOpen__availableText {
    font-family: var(--barlow);
    font-size: var(--medium-font);
    color: var(--neutral-2);
    text-transform: uppercase;
}